<div class="page-title">
  <h3 class="mr-3">
    <i class="fas fa-marker"> ジャンル一覧</i>
  </h3>
</div>

<div class="mb-3">
  <%= form_with model:@genre do |f| %>
    <%= render "layouts/error_messages", resource: @genre %>
    <%= f.text_field :name %>
    <%= f.submit 'ジャンル登録', class:"btn btn-primary" %>
  <% end %>
</div>

<div class="genre-index">
  <table class="genres table">
    <%= render 'genres', genres: @genres %>
  </table>
</div>