<div class="page-title d-flex">
  <h3>
    <i class="fas fa-comments">
       <%= @forum.title %>
    </i>
  </h3>
  <div class="pl-2">
    <% if @forum.lock == true %>
      <i class="fas fa-lock fa-lg key"></i>
    <% else %>
      <i class="fas fa-lock-open fa-lg unlocked-key"></i>
    <% end %>
  </div>
</div>

<% if @forum.user.is_deleted == false %>
  <div class="row">
    <div class="col-md-3">
      <div>
        <h4>参加メンバー</h4>
          <table>
            <% @forum.users.each do |user| %>
              <tr>
                <td>
                  <% if @forum.user_id == user.id %>
                    <i class="fas fa-chalkboard-teacher"></i>
                    作成者
                  <% end %>
                </td>
                <th>
                  <%= link_to user_path(user.id) do %>
                    <%= attachment_image_tag user, :profile_image, size: '40x40', format: 'jpeg', fallback:"no_image.png" %>
                    <%= user.name %>
                  <% end %>
                </th>
              </tr>
            <% end %>
          </table>
      </div>
    </div>

    <div class="col-md-9 forum-post">
      <div class="forum-post-display" id="scroll-inner">
        <%= render 'chat_posts', forum_posts: @forum_posts %>
      </div>
      <div>
        <%= form_with model:@forum_post, url:forum_forum_posts_path(@forum) do |f| %>
          <div class="forum-post-form d-flex align-items-center">
            <div class="p-2">
              <%= f.text_area :message, size:"95%" %>
            </div>
            <div>
              <%= f.submit '送信', class:"btn btn-outline-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h3>ページが存在しません！</h3>
<% end %>