<div class="page-title">
  <h3>
    <i class="fas fa-clipboard-list"> 掲示板</i>
  </h3>
</div>

<div class="row">
  <div class="forum-form">
    <%= form_with model:@forum do |f| %>
      <strong><%= f.label :title, 'タイトル' %></strong><br/>
      　<%= f.text_field :title, class:"mb-2" %><br/>

      <strong><%= f.label :where, '訪問予定地' %></strong><br/>
      　<%= f.text_field :where, class:"mb-2" %><br/>

      <strong><%= f.label :when, '訪問予定日' %></strong><br/>
      　<%= f.radio_button :date, 'undecided', checked: true %>
      　<%= f.label :date, '未定' %><br/>
      　<%= f.radio_button :date, 'decided' %>
      　<%= f.label :date, '日時指定' %><br/>
      　　<%= f.date_field :when, class:"mb-2" %><br/>

      <strong><%= f.label :body, 'ひとこと' %></strong><br/>
      　<%= f.text_area :body, class:"mb-2" %><br/>

    <%= f.submit '掲示板を作成する', class:"btn btn-success" %>
    <% end %>
  </div>

  <div class="col-md-3"></div>
  <div class="col-md-9">
    <div class="row forums">
      <%= render 'forums', forums: @forums %>
    </div>
    <%= paginate @forums %>
  </div>
</div>