<div class="page-title">
  <h3>
    <i class="fas fa-clipboard-list"> 掲示板詳細</i>
  </h3>
</div>

<div class="row">
  <div class="col-md-3">
    <!--ユーザー詳細画面のサイドバー：基本情報を表示-->
    <h5 class="mb-5"><strong>掲示板を作ったひと</strong></h5>
    <table>
      <tr align="center">
        <th colspan="2"><%= attachment_image_tag @forum.user, :profile_image, size:"80x80", format:"jpeg", fallback:"no_image.png", class:"circle-image" %></th>
        <th></th>
      </tr>
      <tr align="center">
        <th colspan="2"><%= @forum.user.name %></th>
        <th></th>
      </tr>
      <tr>
        <th>　</th>
        <td>　</td>
      </tr>
      <tr>
        <th>行った博物館</th>
        <td>　<%= @forum.user.visits.count %> 軒</td>
      </tr>
      <tr>
        <th>おすすめした博物館</th>
        <td>　<%= @forum.user.recommends.count %> 軒</td>
      </tr>
      <tr>
        <td>　</td>
        <td>　</td>
      </tr>
      <% if @forum.user.introduction != nil %>
        <tr align="center">
          <th colspan="2">自己紹介</th>
          <td></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2"><%= @forum.user.introduction %></td>
        <td></td>
      </tr>
      <tr>
        <td>　</td>
      </tr>
      <tr align="center">
        <th colspan="2">
          <% if @forum.user != current_user %>
            <% if @forum.user.followed_by?(current_user) %>
              <%= link_to 'フォロー中', user_relation_path(@forum.user.id, @forum.user.id), method: :delete, class:"btn btn-success" %>
            <% else %>
              <%= link_to 'フォロー', user_relations_path(@forum.user.id), method: :post, class:"btn btn-primary" %>
            <% end %>
          <% end %>
        </th>
        <td></td>
      </tr>
      <tr>
        <td>　</td>
        <td>　</td>
      </tr>
      <% if @forum.user == current_user %>
        <tr align="center">
          <th colspan="2">
            <%= link_to edit_user_path(current_user), class:"btn btn-outline-success btn-block" do %>
              <i class="fas fa-user-edit"></i>
              編集
            <% end %>
          </th>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
        </tr>
        <tr align="center">
          <th colspan="2">
            <%= link_to user_withdraw_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class:"btn btn-outline-danger" do %>
              <i class="fas fa-running"></i>
              退会
            <% end %>
          </th>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="forum-descriptions pt-2 pr-2 pb-0 pl-2 mr-4 mb-4 col-md-8">
    <%= render 'forum', forum: @forum %>
  </div>
</div>