<div class="page-title">
  <% if @user.is_deleted == false %>
    <% if @user != current_user %>
      <h3><i class="fas fa-child"> <%= @user.name %>さんのページ</i></h3>
    <% else %>
      <h3><i class="fas fa-child"> マイページ</i></h3>
    <% end %>
</div>

<div class="row">
  <div class="col-md-3">
    <!--ユーザー詳細画面のサイドバー：基本情報を表示-->
    <table>
      <tr align="center">
        <th colspan="2"><%= attachment_image_tag @user, :profile_image, size:"80x80", format:"jpeg", fallback:"no_image.png", class:"circle-image" %></th>
        <th></th>
      </tr>
      <tr align="center">
        <th colspan="2"><%= @user.name %></th>
        <th></th>
      </tr>
      <tr>
        <th>　</th>
        <td>　</td>
      </tr>
      <tr>
        <th>行った博物館</th>
        <td>　<%= @user.visits.count %> 件</td>
      </tr>
      <tr>
        <th>おすすめした博物館</th>
        <td>　<%= @user.recommends.count %> 件</td>
      </tr>
      <tr>
        <td>　</td>
        <td>　</td>
      </tr>
      <% if @user.introduction != nil %>
        <tr align="center">
          <th colspan="2">自己紹介</th>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><%= @user.introduction %></td>
          <td></td>
        </tr>
      <% end %>
      <% if @user.forums.present? %>
        <tr align="center">
          <th colspan="2">作成した掲示板</th>
          <td></td>
        </tr>
        <% @user.forums.each do |forum| %>
          <tr>
            <td colspan="2">・
              <%= link_to forum.title, forum_path(forum.id) %>
            </td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
      <% if @forum_users.present? %>
        <% if @user.id == current_user.id %>
          <tr align="center">
            <th colspan="2">参加中の掲示板</th>
            <td></td>
          </tr>
          <% @forum_users.each do |forum_user| %>
            <tr>
              <td colspan="2">・
                <%= link_to forum_user.forum.title, forum_path(forum_user.forum.id) %>
              </td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      <tr align="center">
        <th class="follow_<%= @user.id %>" colspan="2">
          <% if @user != current_user %>
            <%= render 'follow', user: @user %>
          <% end %>
        </th>
        <td></td>
      </tr>
      <tr>
        <td>　</td>
        <td>　</td>
      </tr>
      <% if @user == current_user %>
        <tr align="center">
          <th colspan="2">
            <%= link_to edit_user_path(current_user), class:"btn btn-outline-success btn-block" do %>
              <i class="fas fa-user-edit"></i>
              編集
            <% end %>
          </th>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
        </tr>
        <tr align="center">
          <th colspan="2">
            <%= link_to user_withdraw_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class:"btn btn-outline-danger" do %>
              <i class="fas fa-running"></i>
              退会
            <% end %>
          </th>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-9 wrap">
    <% if @user == current_user %>
      <ul id="tab-menu" class="mb-0">
        <li><a href="#top" class="active">お知らせ</a></li>
        <li><a href="#visit-museum" class="">行った博物館</a></li>
        <li><a href="#post" class="">投稿</a></li>
        <li><a href="#post-image" class="">アルバム</a></li>
        <li><a href="#follow" class="">フォロー</a></li>
      </ul>
    <% else %>
      <ul id="tab-menu" class="mb-0">
        <li><a href="#top" class="active">行った博物館</a></li>
        <li><a href="#post" class="">投稿</a></li>
        <li><a href="#post-image" class="">アルバム</a></li>
        <li><a href="#follow" class="">フォロー</a></li>
      </ul>
    <% end %>
    <div id="tab-contents">
      <!--自分以外のユーザーには通知が見えないように-->
      <% if @user == current_user %>
        <div id="top" class="tab">
          <!--各種通知表示-->
          <h4><strong>新着博物館(5軒)</strong></h4>
          <div class="mb-5">
            <h5>　登録</h5>
            <% if @created_museums.present? %>
              <% @created_museums.each do |museum| %>
                <table>
                  <tr>　　<%= museum.created_at.strftime('%Y/%m/%d') %></tr>
                  <tr>
                    <%= link_to user_path(museum.user.id) do %>
                      <% if museum.user.is_deleted == false %>
                        <span>　<%= museum.user.name %>さん</span>
                      <% else %>
                        <span>退会済みユーザー</span>
                      <% end %>
                    <% end %>
                    が
                  </tr>
                  <tr><%= link_to museum.name, museum_path(museum.id) %>を投稿しました！</tr>
                </table>
              <% end %>
            <% else %>
              <p>　　新規登録された博物館はありません</p>
            <% end %>
            <h5 class="mt-2">　編集</h5>
            <% if @updated_museums.present? %>
              <% @updated_museums.each do |museum| %>
                <table>
                  <tr><%= museum.created_at.strftime('%Y/%m/%d') %></tr>
                  <tr>
                    <%= link_to user_path(museum.user.id) do %>
                      <% if museum.user.is_deleted == false %>
                        <span>　<%= museum.user.name %>さん</span>
                      <% else %>
                        <span>退会済みユーザー</span>
                      <% end %>
                    <% end %>
                    が
                  </tr>
                  <tr><%= link_to museum.name, museum_path(museum.id) %>を編集しました！</tr>
                </table>
              <% end %>
            <% else %>
              <p>　　編集された博物館はありません</p>
            <% end %>
          </div>
          <h4><strong>その他</strong></h4>
            <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
            <% if notifications.exists? %>
              <%= render notifications %>
            <% else %>
              <p>　　通知はありません</p>
            <% end %>
        </div>
      <% end %>

      <% if @user == current_user %>
        <div id="visit-museum" class="tab">
      <% else %>
        <div id="top" class="tab">
      <% end %>
        <!--行った：訪問済み(行ったボタンを押した)施設の一覧表示-->
      <% if @visits.exists? %>
        <table class="table visited-museum">
          <tr align="center">
            <th></th>
            <th></th>
            <th></th>
            <th>所在県</th>
            <th>ジャンル</th>
            <th>訪問人数</th>
            <th>おすすめ</th>
            <th>コメント数</th>
            <th>写真数</th>
          </tr>
          <% @user.visits.each do |visit| %>
            <% museum = visit.museum %>
            <tr align="center">
              <td>
                <% if museum.recommended_by?(@user) %>
                  <i class="fas fa-star star"></i>
                <% elsif museum.visited_by?(@user) %>
                  <i class="fas fa-door-open door"></i>
                <% end %>
              </td>
              <td><%= attachment_image_tag museum, :appearance_image, size:"40x40", format:"jpeg" %></td>
              <td align="left" class="visited-museum-name">
                <%= link_to museum_path(museum.id) do %>
                  　<%= museum.name %>
                <% end %>
              </td>
              <td><%= museum.prefecture %></td>
              <td><%= museum.genre.name %></td>
              <td><%= museum.visits.count %> 人</td>
              <td><%= museum.recommends.count %> 人</td>
              <td><%= museum.posts.count %> 件</td>
              <td><%= museum.post_images.count %> 枚</td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>訪問した博物館はありません！</p>
      <% end %>
      </div>

      <div id="post" class="tab">
        <div class="my-posts_index">
          <% if @my_posts.exists? %>
            <!--コメント：コメントの一覧表示-->
            <%= render 'posts', my_posts: @my_posts %>
          <% else %>
            <p>まだ投稿していません！</p>
          <% end %>
        </div>
      </div>

      <div id="post-image" class="tab">
        <% if @user.post_images.exists? %>
          <!--アルバム：投稿された写真の一覧表示-->
          <% @museums.each do |museum| %>
            <% museum.posted_by(@user).each do |post| %>
                <% if post.post_images.exists? %>
                  <h4 class="m-0 mt-3"><%= post.museum.name %></h4><br/>
                  <% post.post_images.each do |image| %>
                    <%= attachment_image_tag image, :picture, size:"100x100", format:"jpeg" %>
                  <% end %>
                <% end %>
            <% end %>
          <% end %>
        <% else %>
          <p>まだ写真を投稿していません！</p>
        <% end %>
      </div>

      <div id="follow" class="tab">
        <!--フォロー・フォロワー：フォローしている人、されている人の一覧表示-->
        <div class="follow_tab">
          <%= render partial: 'users/follow_tab', locals: {followings: @followings, followeds: @followeds} %>
        </div>
      </div>
    </div>
    <!--<script src="assets/javascripts/jquery.min.js"></script>-->
    <script defer="application.js"></script>
  </div>
</div>
<% else %>
  <h3>ページが存在しません！</h3>
<% end %>
