<div class="page-title d-flex">
  <h3>
    <i class="fas fa-child"> ユーザー一覧</i>
  </h3>
  <p class="mr-3 mt-2">
    (<% if @sort == "visitor" %>
      訪問数が多い順
    <% elsif @sort == "recommend" %>
      おすすめが多い順
    <% elsif @sort == "comment" %>
      コメント数が多い順
    <% elsif @sort == "picture" %>
      写真数が多い順
    <% end %>)
  </p>
</div>

<%= form_with url: users_sort_path, method: :get, local: true do |f| %>
  <%= f.select :sort,
  [['訪問数が多い順','visit'],
   ['おすすめが多い順','recommend'],
   ['コメント数が多い順','post'],
   ['写真数が多い順','picture']]
   %>
   <%= f.submit '並びかえる' %>
<% end %>

<div class="row">
  <table class="table">
    <thead>
      <tr align="center">
        <th></th>
        <th></th>
        <th>訪問軒数</th>
        <th>おすすめ軒数</th>
        <th>コメント数</th>
        <th>投稿写真数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    　<% @users.each do |user| %>
    　　<% if user.is_deleted == false %>
          <tr align="center">
            <td>
              <% if user.forum_host?(user) %>
                <i class="fas fa-clipboard-list fa-lg clipboard"></i>
              <% end %>
            </td>
            <td align="left">
              <%= link_to user_path(user.id) do %>
                <%= attachment_image_tag user, :profile_image, size:"40x40", format:"jpeg", fallback:"no_image.png", class:"circle-image" %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.visits.count %>軒</td>
            <td><%= user.recommends.count %>軒</td>
            <td><%= user.posts.count %>件</td>
            <td><%= user.post_images.count %>枚</td>
            <% if user != current_user %>
              <td>
                <% if user.followed_by?(current_user) %>
                  <%= link_to 'フォロー中', user_relation_path(user.id, user.id), method: :delete, class:"btn btn-success" %>
                <% else %>
                  <%= link_to 'フォロー', user_relations_path(user.id), method: :post , class:"btn btn-primary"%>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>