<div class="page-title">
  <h3>
    <i class="fas fa-edit"> 投稿編集</i>
  </h3>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-borderless">
      <%= form_with model:@post, url:museum_post_path(@post.museum.id, @post.id), local:true do |f| %>
        <tr>
          <th><%= f.label :title, 'タイトル' %></th>
          <td><%= f.text_field :title, size:"40" %></td>
        </tr>
        <tr>
          <th><%= f.label :body, '本文' %></th>
          <td><%= f.text_area :body, size:"42x4" %></td>
        </tr>
        <tr>
          <th><%= f.label :post_images_pictures, '写真' %></th>
          <td><%= f.attachment_field :post_images_pictures, multiple: true %></td>
        </tr>
        <tr>
          <th><%= f.label :how_to_visit, '訪問方法' %></th>
          <td>
            <% Post.how_to_visits.keys.each do |h| %>
              <%= f.radio_button :how_to_visit, h %>
              <%= f.label :how_to_visit, h %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :companion, '同伴者' %></th>
          <td>
            <% Post.companions.keys.each do |c| %>
              <%= f.radio_button :companion, c %>
              <%= f.label :companion, c %>
            <% end %>
          </td>
        </tr>
        <tr align="center">
          <th colspan="2"><%= f.submit '変更する！' %></th>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>