<div class="post-form">
  <div class="post-title d-flex">
    <div class="post-main_title"><strong><%= post.title %></strong></div>
    <div class="post-user">
      <%= link_to user_path(post.user.id) do %>
        <%= attachment_image_tag post.user, :profile_image, size:"40x40", format:"jpeg", fallback:"no_image.png", class:"circle-image" %>
      <% end %>
      <%= post.user.name %>
    </div>
  </div>
  <div class="post-body">
    <%= post.body %><br/>
    <!--画像が投稿されていた場合に画像表示-->
    <% if post.post_images.present? %>
      <% post.post_images.each do |image| %>
        <%= attachment_image_tag image, :picture, size:"40x40", format:"jpeg" %>
      <% end %>
    <% end %>
  </div>
  <div class="post-detail d-flex">
    <div>
      <% if post.how_to_visit.present? %>
        <label>訪問方法：</label>
        <%= post.how_to_visit %>
      <% end %>
      <% if post.companion.present? %>
        <label>同伴者：</label>
        <%= post.companion %>
      <% end %>
    </div>
    <div class="post-day d-flex pl-2">
      <% if post.user == current_user %>
        <div class="mr-4">
          <label>投稿日：</label>
          <%= post.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="mr-3">
          <i class="fas fa-heart fa-lg my-heart"></i>
          <%= post.favorites.count %>
        </div>
        <div class="mr-1">
          <%= link_to edit_museum_post_path(museum.id, post.id) do %>
            <i class="far fa-edit fa-lg"></i>
            編集
          <% end %>
        </div>
        <div>
          <%= link_to museum_post_path(museum.id, post.id), method: :delete, remote: true do %>
            <i class="far fa-trash-alt fa-lg"></i>
            削除
          <% end %>
        </div>
      <% else %>
        <div class="d-flex">
          <div class="mr-4">
            <label>投稿日：</label>
            <%= post.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div>
            <% if post.favorited_by?(current_user) %>
              <%= link_to museum_post_favorite_path(museum.id, post.id, post.id), method: :delete, remote: true do %>
                <i class="fas fa-heart fa-lg like-heart"></i>
              <% end %>
              <%= post.favorites.count %>
            <% else %>
              <%= link_to museum_post_favorites_path(museum.id, post.id), method: :post, remote: true do %>
                <i class="far fa-heart fa-lg unlike-heart"></i>
              <% end %>
              <%= post.favorites.count %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>