<div class="page-title d-flex">
  <h3 class="mr-3">
    <i class="fas fa-landmark"> 博物館一覧</i>
  </h3>
  <p><%= link_to '新規登録', new_museum_path, class:"btn btn-success" %></p>
  <p class="ml-3 mt-2"><%= link_to '>>全体Mapはこちらから！', map_path %></p>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <p class="ml-3"><%= link_to 'ジャンル新規登録', genres_path, class:"btn btn-primary" %></p>
    <% end %>
  <% end %>
</div>

<%= form_with url: museums_sort_path, method: :get, local: true do |f| %>
  <%= f.select :sort,
  [['都道府県順','prefecture'],
   ['訪問数が多い順','visitor'],
   ['おすすめが多い順','recommend'],
   ['コメント数が多い順','comment'],
   ['写真数が多い順','picture']]
   %>
   <%= f.submit '並びかえる' %>
<% end %>

<div class="row">
  <table class="table">
    <thead>
      <tr align="center">
        <th></th>
        <th></th>
        <th>所在地</th>
        <th>ジャンル</th>
        <th>訪問人数</th>
        <th>おすすめ</th>
        <th>コメント</th>
        <th>写真数</th>
      </tr>
    </thead>
    <tbody>
      <% @museums.each do |museum| %>
      <tr align="center">
        <td>
          <% if user_signed_in? %>
            <% if museum.recommended_by?(current_user) %>
              <i class="fas fa-star star"></i>
            <% elsif museum.visited_by?(current_user) %>
              <i class="fas fa-door-open door"></i>
            <% end %>
          <% end %>
        </td>
        <td align="left">
          <%= attachment_image_tag museum, :appearance_image, size:"40x40", format:"jpeg" %>
          <%= link_to museum.name, museum_path(museum.id) %>
        </td>
        <td><%= museum.prefecture %></td>
        <td><%= museum.genre.name %></td>
        <td><%= museum.visits.count %>人</td>
        <td><%= museum.recommends.count %>人</td>
        <td><%= museum.posts.count %>件</td>
        <td>
          <% sum = 0 %>
          <% museum.posts.each do |post| %>
            <% sum += post.post_images.count %>
          <% end %>
          <%= sum %> 枚
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @museums %>