<table>
  <tr>
    <th></th>
    <th>ζ‰€ε¨ε°</th>
    <th colspan="2">ζ–½θ¨­ε</th>
    <th>γ‚Έγƒ£γƒ³γƒ«</th>
    <th>θ¨ε•δΊΊζ•°</th>
    <th>γγ™γ™γ‚</th>
    <th>γ‚³γƒ΅γƒ³γƒζ•°</th>
    <th>ε†™ηζ•°</th>
  </tr>
  <% @museums.each do |museum| %>
  <tr>
    <td>
      <% if museum.recommended_by?(current_user) %>
        β†
      <% elsif museum.visited_by?(current_user) %>
        π‘¨
      <% end %>
    </td>
    <td><%= museum.prefecture %></td>
    <td><%= attachment_image_tag museum, :appearance_image, size:"40x40", format:"jpeg" %></td>
    <td><%= link_to museum.name, museum_path(museum.id) %></td>
    <td><%= museum.genre.name %></td>
    <td><%= museum.visits.count %>δΊΊ</td>
    <td><%= museum.recommends.count %>δΊΊ</td>
    <td><%= museum.posts.count %>δ»¶</td>
    <td>
      <% sum = 0 %>
      <% museum.posts.each do |post| %>
        <% sum += post.post_images.count %>
      <% end %>
      <%= sum %> ζ
    </td>
  </tr>
  <% end %>
</table>