<%= form_with model:@museum, local:true do |f| %>
  <%= f.label :appearance_image, '外観イメージ' %>
  <%= f.attachment_field :appearance_image %><br/>

  <%= f.label :name, '博物館名' %>
  <%= f.text_field :name %><br/>

  <%= f.label :genre_id, 'ジャンル' %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %><br/>

  <%= f.label :'住所' %>
  <%= f.select :prefecture, Museum.prefectures.keys %>
  <%= f.text_field :address, placeholder:'県名以降を入力してください' %><br/>

  <%= f.label :'営業時間' %>
  <%= f.time_field :opening_time %> ～ <%= f.time_field :closing_time %><br/>

  <%= f.label :regular_holiday, '定休日' %>
  <% @regular_holidays.each do |r| %>
    <%= f.check_box :regular_holiday, {multiple: true}, r, nil %>
    <%= f.label :regular_holiday, r %>
  <% end %><br/>

  <%= f.label :entrance_fee, '入場料' %>
  <%= f.text_field :entrance_fee %> 円<br/>

  <%= f.label :shop, 'ショップ' %>
  <%= f.radio_button :shop, true %>
  <%= f.label :shop, 'あり', value: true %>
  <%= f.radio_button :shop, false %>
  <%= f.label :shop, 'なし', value: false %><br/>

  <%= f.label :url, '公式HP' %>
  <%= f.text_field :url, placeholder:'URLを入力してください' %><br/>

  <%= f.submit '登録する！' %>
<% end %>


<input id="address" type="textbox" placeholder="住所を入力">
<input type="button" value="探す" onclick="codeAddress()"><br/>

<div id='map'></div>

<style>
#map {
  height: 100px;
  width: 100px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat:34.9218969, lng:139.12026},
    zoom: 8,
  });
}

let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
      alert('検索結果が見つかりました');
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
