<div class="page-title">
  <h3>
    <i class="fas fa-landmark"> <%= @museum.name %></i>
  </h3>
</div>

<div class="row">
  <div class="museum-info col-md-3">
    <table class="museum-table">
      <!--博物館の外観画像-->
      <tr align="center">
        <th colspan="2"><%= attachment_image_tag @museum, :appearance_image, size:"80x80", format:'jpeg' %></th>
      </tr>
    　<!--博物館名-->
      <tr align="center">
        <th colspan="2" align="center"><%= @museum.name %></th>
      </tr>
    　<!--博物館のジャンル-->
      <tr>
        <th>ジャンル　　：</th>
        <td><%= @museum.genre.name %></td>
      </tr>
      <!--博物館の住所(リンク先はmap/index)-->
      <tr>
        <th>住所　　　　：</th>
        <td class="museum-address"><%= @museum.prefecture %><%= @museum.address %></td>
      </tr>
      <!--博物館の営業時間-->
      <tr>
        <th>営業時間　　：</th>
        <td><%= @museum.opening_time %> ～ <%= @museum.closing_time %></td>
      </tr>
      <!--博物館の定休日-->
      <tr>
        <th>定休日　　　：</th>
        <td><%= @museum.regular_holiday %></td>
      </tr>
      <!--博物館の入場料(大人)-->
      <tr>
        <th class="museum-address">入場料(大人) ：</th>
        <td><%= @museum.entrance_fee.to_s(:delimited) %>円</td>
      </tr>
      <!--博物館のショップの有無-->
      <tr>
        <th>ショップ　　：</th>
        <td>
          <% if @museum.shop == true %>
            <span>あり</span>
          <% else %>
            <span>なし</span>
          <% end %>
        </td>
      </tr>
      <!--博物館の公式HPの有無とURL-->
      <tr>
        <th>公式ＨＰ　　：</th>
        <td>
          <% if @museum.url != "" %>
            <%= link_to 'あり', @museum.url %>
          <% else %>
            <span>なし</span>
          <% end %>
        </td>
      </tr>
    </table>

      <!--以下はログイン状態でないと表示しない-->
    <% if user_signed_in? %>
      <table class="museum-button mt-3">
        <!--おすすめボタンと訪問済みボタン-->
        <tr align="center">
          <th class="recommend">
            <%= render 'recommend', museum: @museum %>
          </th>
          <th> </th>
          <th class="visit">
            <%= render 'visit', museum: @museum %>
          </th>
        </tr>
        <tr align="center">
          <td>
            おすすめ！
          </td>
          <td> </td>
          <td>
            行った！
          </td>
        </tr>
      </table>
        <!--編集ボタン(誰でも編集可能)-->
      <table class="museum-edit_destroy mt-3">
        <tr align="center">
          <th>
            <%= link_to edit_museum_path(@museum.id), class:"btn btn-primary" do %>
              <i class="fas fa-edit"></i>
              編集
            <% end %>
          </th>
          <th> </th>
          <th>
            <% if current_user.admin? %>
              <%= link_to museum_path(@museum.id), method: :delete, class:"btn btn-danger ml-3" do %>
                <i class="fas fa-trash"></i>
                削除
              <% end %>
            <% end %>
          </th>
        </tr>
      </table>
    <% end %>
  </div>

  <div class="col-md-9">
    <ul id="tab-menu" class="mb-0">
      <li><a href="#top" class="active">コメント</a></li>
      <li><a href="#post-image" class="">アルバム</a></li>
    </ul>
    <div id="tab-contents">
      <% if user_signed_in? %>
        <div id="top" class="tab">
          <!--コメント投稿フォームの表示/非表示ボタン-->
          <input type="button" value="＋コメント投稿" id="post-button" class="btn btn-primary mb-2">
          <div class="posts-form" id="post-form">
            <!--コメント投稿フォーム-->
            <%= form_with model:@post, url:museum_posts_path(@museum.id) do |f| %>
              <div class="posts-title">
                <strong><%= f.label :title, 'タイトル', class:"mr-3" %></strong>
                <%= f.text_field :title, size:"30" %>
              </div>
              <div class="posts-body">
                <strong><%= f.label :body, '本文', class:"mr-3" %></strong>
                <%= f.text_area :body, size:"90" %><br/>
                <strong><%= f.label :post_images_pictures, '写真', class:"mr-3" %></strong>
                <%= f.attachment_field :post_images_pictures, multiple: true %>
              </div>
              <div class="posts-form-detail d-flex">
                <span class="mr-3">
                  <strong><%= f.label :how_to_visit, '訪問方法' %></strong>
                  <% Post.how_to_visits.keys.each do |h| %>
                    <%= f.radio_button :how_to_visit, h %>
                    <%= f.label :how_to_visit, h %>
                  <% end %>
                </span>
                <span>
                  <strong><%= f.label :companion, '同伴者' %></strong>
                  <% Post.companions.keys.each do |c| %>
                    <%= f.radio_button :companion, c %>
                    <%= f.label :companion, c %>
                  <% end %>
                </span>
                <div>
                  <%= f.submit '投稿する！', class:"btn btn-success" %>
                </div>
              </div>
            <% end %>
          </div>
          <!--コメント表示-->
          <div class="post_index">
            <%= render partial: 'museums/posts', locals: {posts: @posts, museum: @museum} %>
          </div>
        </div>
        <div id="post-image" class="tab">
          <div class="post_image_index">
            <%= render partial: 'museums/post_images', locals: {posts: @posts, museum: @museum} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>